<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <table cellspacing="">
      <thead>
        <th>Branch</th>
        <th>Date</th>
        <th>Author</th>
        <th>Message</th>
      </thead>
      <tbody>
    {{#each githubData}}
    <tr>
      {{#each this}}
        <td>{{this}}</td>
      {{/each}}
    </tr>
  {{/each}}
      </tbody>
    </table>
  </body>
</html>